ClickableDates {
    layout: grid;
    grid-size: 7;
    grid-gutter: 0 1;
    grid-columns: 1fr;
    grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 1 2;
    height: 90%;
    padding: 0 1;
}

Dates {
    height: 80%;
    dock: top;
}

#left_side {
    dock: left;
    width: 70%;
}

#right_side {
    align: center middle;
}

#column {
    height: auto;
    min-height: 100vh;
    align: center top;
}

#section {
    height: auto;
    min-width: 40;
    margin: 1 2 4 2;
}

#date_banner {
    height: 10%;
}

#last_month {
    dock: left;
}

#month_name {
    content-align: center middle;
    text-style: bold;
}

#next_month {
    dock: right;
}

EventList {
    dock: top;
    height: 85;
}

AddEvent {
    dock: bottom;
    height: 20%;
}

Login {
    dock: bottom;
    height: 15%;
}

#daily_events_banner {
    height: 5%;
}

#event_inputs {
    dock: left;
    width: 70%;
}

#add_event_button {
    dock: right;
    width: 30%;
}

#dates_button {
    width: 10%;
    height: 15%;
}